Repository LLRCMS/bye_splits, changes with the owners that docs/CODEOWNERS names for each.
All owners: @bfonta, @mchiusi, @isehle

docs/CODEOWNERS:

* @bfonta

/bye_splits/data_handle/ @mchiusi
/bye_splits/plot/        @mchiusi
/bye_splits/production/  @mchiusi
/bye_splits/utils/       @mchiusi

/bye_splits/production/ @isehle
/bye_splits/tasks/ @isehle

Add scintillator tiles
  README.md
  bye_splits/data_handle/data_process.py
  bye_splits/data_handle/event.py
  bye_splits/data_handle/geometry.py
  bye_splits/plot/display_plotly/main.py
  bye_splits/plot/display_plotly/plot_event.py
  bye_splits/plot/display_plotly/processing.py
  bye_splits/scripts/run_default_chain.py
  bye_splits/tasks/cluster.py
  config.yaml
Owners: @bfonta, @mchiusi, @isehle

add coarse seeding
  README.md
  bye_splits/data_handle/data_process.py
  bye_splits/data_handle/event.py
  bye_splits/data_handle/geometry.py
  bye_splits/plot/chain_plotter.py
  bye_splits/plot/cs_chain_plotter.py
  bye_splits/plot/cs_uv_space.py
  bye_splits/plot/display_plotly/__init__.py
  bye_splits/plot/display_plotly/main.py
  bye_splits/plot/display_plotly/plot_event.py
  bye_splits/plot/display_plotly/processing.py
  bye_splits/production/produce.py
  bye_splits/scripts/run_default_chain.py
  bye_splits/scripts/run_meta.py
  bye_splits/scripts/run_new_chain.py
  bye_splits/scripts/run_radii_chain.py
  bye_splits/tasks/__init__.py
  bye_splits/tasks/cluster.py
  bye_splits/tasks/coarse_seeding.py
  bye_splits/tasks/fill.py
  bye_splits/tasks/seed.py
  bye_splits/tasks/seed_cs.py
  bye_splits/tasks/validation.py
  bye_splits/utils/common.py
  bye_splits/utils/parsing.py
  config.yaml
  requirements.txt
Owners: @bfonta, @mchiusi, @isehle

fix issue #32
  bye_splits/production/produce.py
  bye_splits/utils/params.py
  config.yaml
Owners: @isehle, @mchiusi, @bfonta

replace conda by mamba
  README.md
Owners: @bfonta

produce subset of geometry
  bye_splits/plot/display_bokeh/main.py
Owners: @mchiusi

fix issue #32
  bye_splits/production/produce.py
  bye_splits/utils/params.py
  config.yaml
Owners: @isehle, @mchiusi, @bfonta

Add new chain in the webApp
  bye_splits/plot/display_plotly/main.py
  bye_splits/plot/display_plotly/plot_event.py
  bye_splits/plot/display_plotly/processing.py
  bye_splits/scripts/run_radii_chain.py
  config.yaml
Owners: @mchiusi, @bfonta

Add new chain in the webApp
  bye_splits/plot/display_plotly/main.py
  bye_splits/plot/display_plotly/plot_event.py
  bye_splits/plot/display_plotly/processing.py
  bye_splits/scripts/run_radii_chain.py
  config.yaml
Owners: @mchiusi, @bfonta

copy over submission related scripts
  bye_splits/production/submit_scripts/condor_cluster_size.sh
  bye_splits/production/submit_scripts/job_submit.py
  bye_splits/scripts/cluster_size/condor/cluster_opt.py
  bye_splits/scripts/cluster_size/condor/run_cluster.py
  bye_splits/scripts/cluster_size/run_combine.py
  bye_splits/scripts/cluster_size/run_init_tasks.py
  config.yaml
Owners: @isehle, @bfonta

mostly variable / key name updates, addition of some needed functions
  bye_splits/production/submit_scripts/job_submit.py
  bye_splits/scripts/cluster_size/condor/run_cluster.py
  bye_splits/scripts/cluster_size/run_init_tasks.py
  bye_splits/utils/cl_helpers.py
  bye_splits/utils/common.py
  config.yaml
Owners: @isehle, @bfonta, @mchiusi

general clean up and documentation
  README.md
  bye_splits/production/produce.cc
  bye_splits/production/submit_scripts/job_submit.py
  bye_splits/scripts/cluster_size/condor/run_cluster.py
  bye_splits/scripts/cluster_size/run_combine.py
  bye_splits/scripts/cluster_size/run_init_tasks.py
  bye_splits/utils/cl_helpers.py
  bye_splits/utils/common.py
  bye_splits/utils/job_helpers.py
  config.yaml
Owners: @bfonta, @isehle, @mchiusi

implementation of final comments
  bye_splits/production/submit_scripts/condor_cluster_size.sh
  bye_splits/production/submit_scripts/job_submit.py
  bye_splits/scripts/cluster_size/condor/run_cluster.py
  bye_splits/scripts/cluster_size/run_combine.py
  bye_splits/scripts/cluster_size/run_init_tasks.py
  bye_splits/utils/cl_helpers.py
  bye_splits/utils/common.py
  bye_splits/utils/job_helpers.py
  config.yaml
Owners: @isehle, @bfonta, @mchiusi

better argument handling and variable naming
  bye_splits/production/submit_scripts/condor_cluster_size.sh
  bye_splits/production/submit_scripts/job_submit.py
  bye_splits/scripts/cluster_size/condor/run_cluster.py
  config.yaml
Owners: @isehle, @bfonta

updated README.md
  README.md
Owners: @bfonta

remove depricated file
  bye_splits/scripts/cluster_size/condor/cluster_opt.py
Owners: @bfonta

minor updates/corrections
  bye_splits/production/submit_scripts/condor_cluster_size.sh
  bye_splits/production/submit_scripts/job_submit.py
  bye_splits/scripts/cluster_size/condor/run_cluster.py
  bye_splits/scripts/cluster_size/run_init_tasks.py
  bye_splits/utils/cl_helpers.py
  config.yaml
Owners: @isehle, @bfonta, @mchiusi

implemented Marco's comments
  README.md
  bye_splits/production/submit_scripts/job_submit.py
  bye_splits/utils/job_helpers.py
Owners: @bfonta, @isehle, @mchiusi

use python files as <script> directly
  bye_splits/production/submit_scripts/condor_cluster_size.sh
  bye_splits/production/submit_scripts/job_submit.py
  config.yaml
Owners: @isehle, @bfonta

added dummy script for job testing; updated documentation; cleanup
  README.md
  bye_splits/production/submit_scripts/job_submit.py
  bye_splits/scripts/cluster_size/run_init_tasks.py
  config.yaml
  tests/submission/dummy_submit.py
Owners: @bfonta, @isehle

introduce Arguments class to handle argument adding, combining, verification
  README.md
  bye_splits/production/submit_scripts/job_submit.py
  bye_splits/scripts/cluster_size/condor/run_cluster.py
  bye_splits/utils/job_helpers.py
  config.yaml
  tests/submission/dummy_run.py
  tests/submission/dummy_submit.py
Owners: @bfonta, @isehle, @mchiusi

Update README.md
  README.md
Owners: @bfonta

Fix path.
  bye_splits/plot/cs_uv_space.py
Owners: @mchiusi

Fix path.
  bye_splits/plot/cs_uv_space.py
Owners: @mchiusi

Add Sphinx docs draft.
  .readthedocs.yaml
  README.md
  bye_splits/__init__.py
  docs/Makefile
  docs/make.bat
  docs/requirements.txt
  docs/source/conf.py
  docs/source/data_handle.rst
  docs/source/index.rst
  docs/source/modules.rst
  docs/source/plot.display.rst
  docs/source/plot.display_plotly.rst
  docs/source/plot.rst
  docs/source/production.rst
  docs/source/scripts.rst
  docs/source/tasks.rst
  docs/source/usage/cluster_radii_studies.rst
  docs/source/usage/data_production.rst
  docs/source/usage/event_visualization.rst
  docs/source/usage/installation.rst
  docs/source/usage/reconstruction_chain.rst
  docs/source/usage/tikz.rst
  docs/source/utils.rst
Owners: @bfonta

Add Sphinx docs draft.
  .readthedocs.yaml
  README.md
  bye_splits/__init__.py
  docs/Makefile
  docs/make.bat
  docs/requirements.txt
  docs/source/conf.py
  docs/source/data_handle.rst
  docs/source/img/reconstruction_chain.png
  docs/source/index.rst
  docs/source/modules.rst
  docs/source/plot.display.rst
  docs/source/plot.display_plotly.rst
  docs/source/plot.rst
  docs/source/production.rst
  docs/source/scripts.rst
  docs/source/tasks.rst
  docs/source/usage/cluster_radii_studies.rst
  docs/source/usage/data_production.rst
  docs/source/usage/event_visualization.rst
  docs/source/usage/installation.rst
  docs/source/usage/reconstruction_chain.rst
  docs/source/usage/tikz.rst
  docs/source/utils.rst
Owners: @bfonta

Add README badges.
  README.md
Owners: @bfonta

Restructure and add skimming escription.
  docs/index.rst
  docs/source/usage/data_production.rst
  docs/source/usage/dev_data_handle.rst
  docs/source/usage/dev_intro.rst
  docs/source/usage/dev_plot.rst
  docs/source/usage/dev_produce.rst
  docs/source/usage/dev_scripts.rst
  docs/source/usage/dev_tasks.rst
  docs/source/usage/dev_utils.rst
  docs/source/usage/event_visualization.rst
  docs/source/usage/installation.rst
  docs/source/usage/reconstruction_chain.rst
Owners: @bfonta

Update docs.
  docs/index.rst
  docs/source/usage/contact.rst
  docs/source/usage/data_production.rst
  docs/source/usage/dev_data_handle.rst
  docs/source/usage/dev_intro.rst
  docs/source/usage/dev_plot.rst
  docs/source/usage/dev_produce.rst
Owners: @bfonta

Update docs.
  docs/source/usage/dev_data_handle.rst
  docs/source/usage/dev_scripts.rst
Owners: @bfonta

Finalize first documentation draft.
  README.md
  docs/index.rst
  docs/source/usage/contact.rst
  docs/source/usage/dev_data_handle.rst
  docs/source/usage/dev_plot.rst
  docs/source/usage/dev_produce.rst
  docs/source/usage/dev_scripts.rst
  docs/source/usage/dev_tasks.rst
  docs/source/usage/dev_utils.rst
  docs/source/usage/event_visualization.rst
  docs/source/usage/first_installation.rst
  docs/source/usage/first_running.rst
  docs/source/usage/first_write_chain.rst
  docs/source/usage/installation.rst
  docs/source/usage/reconstruction_chain.rst
  docs/source/usage/tikz.rst
Owners: @bfonta

Update docs.
  docs/index.rst
  docs/source/usage/contact.rst
  docs/source/usage/data_production.rst
  docs/source/usage/dev_data_handle.rst
  docs/source/usage/dev_intro.rst
  docs/source/usage/dev_plot.rst
  docs/source/usage/dev_produce.rst
Owners: @bfonta

Add README badges.
  README.md
Owners: @bfonta

Update docs.
  docs/source/usage/dev_data_handle.rst
  docs/source/usage/dev_scripts.rst
Owners: @bfonta

Finalize first documentation draft.
  README.md
  docs/index.rst
  docs/source/usage/contact.rst
  docs/source/usage/dev_data_handle.rst
  docs/source/usage/dev_plot.rst
  docs/source/usage/dev_produce.rst
  docs/source/usage/dev_scripts.rst
  docs/source/usage/dev_tasks.rst
  docs/source/usage/dev_utils.rst
  docs/source/usage/event_visualization.rst
  docs/source/usage/first_installation.rst
  docs/source/usage/first_running.rst
  docs/source/usage/first_write_chain.rst
  docs/source/usage/installation.rst
  docs/source/usage/reconstruction_chain.rst
  docs/source/usage/tikz.rst
Owners: @bfonta

Add Sphinx docs draft.
  .readthedocs.yaml
  README.md
  bye_splits/__init__.py
  docs/Makefile
  docs/make.bat
  docs/requirements.txt
  docs/source/conf.py
  docs/source/data_handle.rst
  docs/source/img/reconstruction_chain.png
  docs/source/index.rst
  docs/source/modules.rst
  docs/source/plot.display.rst
  docs/source/plot.display_plotly.rst
  docs/source/plot.rst
  docs/source/production.rst
  docs/source/scripts.rst
  docs/source/tasks.rst
  docs/source/usage/cluster_radii_studies.rst
  docs/source/usage/data_production.rst
  docs/source/usage/event_visualization.rst
  docs/source/usage/installation.rst
  docs/source/usage/reconstruction_chain.rst
  docs/source/usage/tikz.rst
  docs/source/utils.rst
Owners: @bfonta

Restructure and add skimming escription.
  docs/index.rst
  docs/source/usage/data_production.rst
  docs/source/usage/dev_data_handle.rst
  docs/source/usage/dev_intro.rst
  docs/source/usage/dev_plot.rst
  docs/source/usage/dev_produce.rst
  docs/source/usage/dev_scripts.rst
  docs/source/usage/dev_tasks.rst
  docs/source/usage/dev_utils.rst
  docs/source/usage/event_visualization.rst
  docs/source/usage/installation.rst
  docs/source/usage/reconstruction_chain.rst
Owners: @bfonta

Update license year
  LICENSE
Owners: @bfonta

Update license year
  LICENSE
Owners: @bfonta
