Repository LLRCMS/bye_splits, changes with the owners that docs/CODEOWNERS names for each.
All owners: @bfonta, @mchiusi, @isehle

add tikz flowchart
  docs/tikz/flowchart.tex
  docs/tikz/header.tex
Owners: @bfonta

📝 tikz figures update
  README.org
Owners: @bfonta

add tikz flowchart
  docs/tikz/flowchart.tex
  docs/tikz/header.tex
Owners: @bfonta

📝 tikz figures update
  README.org
Owners: @bfonta

rewrite reconstruction chain
  README.org
  bye_splits/data_handle/base.py
  bye_splits/data_handle/config.yaml
  bye_splits/data_handle/data_handle.py
  bye_splits/data_handle/event.py
  bye_splits/data_handle/geometry.py
  bye_splits/plot/chain_plotter.py
  bye_splits/plot/display/main.py
  bye_splits/plot/meta_algorithm.py
  bye_splits/production/prod_params.yaml
  bye_splits/run_chain.py
  bye_splits/tasks/cluster.py
  bye_splits/tasks/fill.py
  bye_splits/tasks/seed.py
  bye_splits/tasks/validation.py
  bye_splits/tasks_old/__init__.py
  bye_splits/tasks_old/cluster.py
  bye_splits/tasks_old/fill.py
  bye_splits/tasks_old/seed.py
  bye_splits/tasks_old/smooth.py
  bye_splits/tasks_old/validation.py
  bye_splits/utils/common.py
  bye_splits/utils/params.py
  bye_splits/utils/parsing.py
Owners: @bfonta, @mchiusi, @isehle

rewrite configuration of tasks
  bye_splits/data_handle/base.py
  bye_splits/data_handle/data_handle.py
  bye_splits/data_handle/event.py
  bye_splits/iterative_optimization.py
  bye_splits/plot/trigger_cells_occupancy.py
  bye_splits/production/matching.py
  bye_splits/production/prod_params.py
  bye_splits/run_chain.py
  bye_splits/tasks/cluster.py
  bye_splits/tasks/config.yaml
  bye_splits/tasks/fill.py
  bye_splits/tasks/seed.py
  bye_splits/tasks/smooth.py
  bye_splits/tasks/validation.py
  bye_splits/tasks_old/seed.py
  bye_splits/tasks_old/smooth.py
  bye_splits/utils/common.py
  bye_splits/utils/params.py
Owners: @mchiusi, @bfonta, @isehle

remove legacy tasks
  bye_splits/tasks_old/__init__.py
  bye_splits/tasks_old/cluster.py
  bye_splits/tasks_old/fill.py
  bye_splits/tasks_old/seed.py
  bye_splits/tasks_old/smooth.py
  bye_splits/tasks_old/validation.py
Owners: @bfonta

fix legacy bugs
  bye_splits/data_handle/geometry.py
  bye_splits/plot/display/main.py
Owners: @mchiusi

implement mchiusi's comments
  bye_splits/data_handle/config.yaml
  bye_splits/data_handle/data_handle.py
Owners: @mchiusi

rewrite reconstruction chain
  README.org
  bye_splits/data_handle/base.py
  bye_splits/data_handle/config.yaml
  bye_splits/data_handle/data_handle.py
  bye_splits/data_handle/event.py
  bye_splits/data_handle/geometry.py
  bye_splits/iterative_optimization.py
  bye_splits/plot/chain_plotter.py
  bye_splits/plot/display/main.py
  bye_splits/plot/meta_algorithm.py
  bye_splits/plot/trigger_cells_occupancy.py
  bye_splits/production/matching.py
  bye_splits/production/prod_params.py
  bye_splits/production/prod_params.yaml
  bye_splits/run_chain.py
  bye_splits/tasks/cluster.py
  bye_splits/tasks/config.yaml
  bye_splits/tasks/fill.py
  bye_splits/tasks/seed.py
  bye_splits/tasks/smooth.py
  bye_splits/tasks/validation.py
  bye_splits/utils/common.py
  bye_splits/utils/params.py
  bye_splits/utils/parsing.py
Owners: @bfonta, @mchiusi, @isehle

eventdata factory + dict values bug fix
  bye_splits/data_handle/data_handle.py
  bye_splits/data_handle/event.py
Owners: @mchiusi

bugfix: seed set only when requested
  bye_splits/data_handle/event.py
Owners: @mchiusi

eventdata factory + dict values bug fix
  bye_splits/data_handle/data_handle.py
  bye_splits/data_handle/event.py
Owners: @mchiusi

bugfix: seed set only when requested
  bye_splits/data_handle/event.py
Owners: @mchiusi

Cluster Size Study; DashApp for ClusterSize; Data Handling Accepts configuration file instead of hardcoded
  README.org
  bye_splits/data_handle/base.py
  bye_splits/data_handle/data_handle.py
  bye_splits/data_handle/event.py
  bye_splits/plot/display_clusters/cl_app.py
  bye_splits/plot/display_clusters/config.yaml
  bye_splits/plot/display_clusters/pages/eff_page.py
  bye_splits/plot/display_clusters/pages/en_page.py
  bye_splits/plot/display_clusters/pages/not_found_404.py
  bye_splits/plot/display_clusters/pages/pile_up_page.py
  bye_splits/plot/display_clusters/pages/rms_page.py
  bye_splits/plot/trigger_cells_occupancy.py
  bye_splits/scripts/cl_size_params.yaml
  bye_splits/scripts/cluster_size.py
  bye_splits/tasks/cluster.py
  bye_splits/tasks/config.yaml
  bye_splits/utils/cl_helpers.py
  bye_splits/utils/params.py
  bye_splits/utils/parsing.py
  run_cluster_app.sh
  run_cluster_size.sh
Owners: @bfonta, @mchiusi, @isehle

Updated .gitignore
  .gitignore
Owners: @bfonta

Implemented Bruno's comments
  .gitignore
  README.org
  bye_splits/__init__.py
  bye_splits/data_handle/data_handle.py
  bye_splits/data_handle/event.py
  bye_splits/iterative_optimization.py
  bye_splits/plot/display_clusters/cl_app.py
  bye_splits/plot/display_clusters/config.yaml
  bye_splits/plot/display_clusters/pages/eff_page.py
  bye_splits/plot/display_clusters/pages/en_page.py
  bye_splits/plot/display_clusters/pages/not_found_404.py
  bye_splits/plot/display_clusters/pages/pile_up_page.py
  bye_splits/plot/display_clusters/pages/rms_page.py
  bye_splits/production/prod_params.yaml
  bye_splits/run_chain.py
  bye_splits/scripts/__init__.py
  bye_splits/scripts/cl_size_params.yaml
  bye_splits/scripts/cluster_size.py
  bye_splits/scripts/cluster_size/cl_size_params.yaml
  bye_splits/scripts/cluster_size/run_cluster_size.py
  bye_splits/scripts/debug_architecture.py
  bye_splits/scripts/iterative_optimization.py
  bye_splits/scripts/nn_optimization.py
  bye_splits/scripts/run_chain.py
  bye_splits/tasks/cluster.py
  bye_splits/tasks/config.yaml
  bye_splits/utils/cl_helpers.py
  bye_splits/utils/common.py
  bye_splits/utils/params.py
  bye_splits/utils/parsing.py
  run_cluster_app.sh
  run_cluster_size.sh
Owners: @bfonta, @mchiusi, @isehle

Default cfg file for data_handle; combined info from cl_size_paramsyaml to the default prod_params.yaml
  bye_splits/data_handle/base.py
  bye_splits/data_handle/data_handle.py
  bye_splits/data_handle/event.py
  bye_splits/production/prod_params.yaml
  bye_splits/scripts/cluster_size/cl_size_params.yaml
  bye_splits/scripts/cluster_size/run_cluster_size.py
  bye_splits/tasks/cluster.py
  bye_splits/tasks/config.yaml
  run_cluster_size.sh
Owners: @mchiusi, @isehle, @bfonta

Updated .gitignore
  .gitignore
Owners: @bfonta

Implemented Bruno's comments
  .gitignore
  README.org
  bye_splits/__init__.py
  bye_splits/data_handle/data_handle.py
  bye_splits/data_handle/event.py
  bye_splits/iterative_optimization.py
  bye_splits/plot/display_clusters/cl_app.py
  bye_splits/plot/display_clusters/config.yaml
  bye_splits/plot/display_clusters/pages/eff_page.py
  bye_splits/plot/display_clusters/pages/en_page.py
  bye_splits/plot/display_clusters/pages/not_found_404.py
  bye_splits/plot/display_clusters/pages/pile_up_page.py
  bye_splits/plot/display_clusters/pages/rms_page.py
  bye_splits/production/prod_params.yaml
  bye_splits/run_chain.py
  bye_splits/scripts/__init__.py
  bye_splits/scripts/cl_size_params.yaml
  bye_splits/scripts/cluster_size.py
  bye_splits/scripts/cluster_size/cl_size_params.yaml
  bye_splits/scripts/cluster_size/run_cluster_size.py
  bye_splits/scripts/debug_architecture.py
  bye_splits/scripts/iterative_optimization.py
  bye_splits/scripts/nn_optimization.py
  bye_splits/scripts/run_chain.py
  bye_splits/tasks/cluster.py
  bye_splits/tasks/config.yaml
  bye_splits/utils/cl_helpers.py
  bye_splits/utils/common.py
  bye_splits/utils/params.py
  bye_splits/utils/parsing.py
  run_cluster_app.sh
  run_cluster_size.sh
Owners: @bfonta, @mchiusi, @isehle

Cluster Size Study; DashApp for ClusterSize; Data Handling Accepts configuration file instead of hardcoded
  README.org
  bye_splits/data_handle/base.py
  bye_splits/data_handle/data_handle.py
  bye_splits/data_handle/event.py
  bye_splits/plot/display_clusters/cl_app.py
  bye_splits/plot/display_clusters/config.yaml
  bye_splits/plot/display_clusters/pages/eff_page.py
  bye_splits/plot/display_clusters/pages/en_page.py
  bye_splits/plot/display_clusters/pages/not_found_404.py
  bye_splits/plot/display_clusters/pages/pile_up_page.py
  bye_splits/plot/display_clusters/pages/rms_page.py
  bye_splits/plot/trigger_cells_occupancy.py
  bye_splits/scripts/cl_size_params.yaml
  bye_splits/scripts/cluster_size.py
  bye_splits/tasks/cluster.py
  bye_splits/tasks/config.yaml
  bye_splits/utils/cl_helpers.py
  bye_splits/utils/params.py
  bye_splits/utils/parsing.py
  run_cluster_app.sh
  run_cluster_size.sh
Owners: @bfonta, @mchiusi, @isehle

Default cfg file for data_handle; combined info from cl_size_paramsyaml to the default prod_params.yaml
  bye_splits/data_handle/base.py
  bye_splits/data_handle/data_handle.py
  bye_splits/data_handle/event.py
  bye_splits/production/prod_params.yaml
  bye_splits/scripts/cluster_size/cl_size_params.yaml
  bye_splits/scripts/cluster_size/run_cluster_size.py
  bye_splits/tasks/cluster.py
  bye_splits/tasks/config.yaml
  run_cluster_size.sh
Owners: @mchiusi, @isehle, @bfonta

add option to provide all events at once
  bye_splits/data_handle/base.py
  bye_splits/data_handle/config.yaml
  bye_splits/data_handle/data_handle.py
  bye_splits/data_handle/event.py
  bye_splits/data_handle/geometry.py
  bye_splits/plot/display/main.py
  bye_splits/production/prod_params.yaml
Owners: @mchiusi, @isehle

implemented scintillator geometry
  bye_splits/data_handle/config.yaml
  bye_splits/data_handle/event.py
  bye_splits/data_handle/geometry.py
  bye_splits/plot/display/main.py
  bye_splits/production/prod_params.yaml
Owners: @mchiusi, @isehle

single configuration file
  bye_splits/data_handle/base.py
  bye_splits/data_handle/config.yaml
  bye_splits/data_handle/data_handle.py
  bye_splits/data_handle/event.py
  bye_splits/data_handle/geometry.py
  bye_splits/plot/display/main.py
  bye_splits/plot/display_clusters/config.yaml
  bye_splits/plot/display_clusters/pages/eff_page.py
  bye_splits/plot/display_clusters/pages/en_page.py
  bye_splits/plot/display_clusters/pages/pile_up_page.py
  bye_splits/plot/display_clusters/pages/rms_page.py
  bye_splits/scripts/cluster_size/run_cluster_size.py
  bye_splits/utils/airflow.cfg
  bye_splits/utils/cl_helpers.py
  bye_splits/utils/params.py
Owners: @mchiusi, @bfonta

display events with scintillator geometry
  bye_splits/data_handle/event.py
  bye_splits/data_handle/geometry.py
  bye_splits/plot/display/main.py
Owners: @mchiusi

mechanism for wafer centered / corner centered difference
  bye_splits/data_handle/geometry.py
  bye_splits/plot/chain_plotter.py
  bye_splits/plot/display/main.py
Owners: @mchiusi

looser branch naming to allow rebasing
  .githooks/pre-commit
Owners: @bfonta

add missing single file configuration
  config.yaml
Owners: @bfonta

restructuring and bugfixes; full geometry working
  .gitignore
  bye_splits/data_handle/__init__.py
  bye_splits/data_handle/base.py
  bye_splits/data_handle/data_handle.py
  bye_splits/data_handle/data_input.py
  bye_splits/data_handle/event.py
  bye_splits/data_handle/geometry.py
  bye_splits/plot/display/main.py
  config.yaml
Owners: @bfonta, @mchiusi

add markdown README
  README.md
  README.org
Owners: @bfonta

implement comments PR#26
  bye_splits/data_handle/data_handle.py
  bye_splits/data_handle/geometry.py
  bye_splits/plot/chain_plotter.py
  bye_splits/production/prod_params.yaml
  bye_splits/scripts/run_chain.py
  bye_splits/tasks/config.yaml
  config.yaml
Owners: @mchiusi, @isehle, @bfonta

implement scintillator geometry
  .githooks/pre-commit
  .gitignore
  README.md
  README.org
  bye_splits/data_handle/__init__.py
  bye_splits/data_handle/base.py
  bye_splits/data_handle/config.yaml
  bye_splits/data_handle/data_handle.py
  bye_splits/data_handle/data_input.py
  bye_splits/data_handle/event.py
  bye_splits/data_handle/geometry.py
  bye_splits/plot/chain_plotter.py
  bye_splits/plot/display/main.py
  bye_splits/plot/display_clusters/config.yaml
  bye_splits/plot/display_clusters/pages/eff_page.py
  bye_splits/plot/display_clusters/pages/en_page.py
  bye_splits/plot/display_clusters/pages/pile_up_page.py
  bye_splits/plot/display_clusters/pages/rms_page.py
  bye_splits/production/prod_params.yaml
  bye_splits/scripts/cluster_size/run_cluster_size.py
  bye_splits/scripts/run_chain.py
  bye_splits/tasks/config.yaml
  bye_splits/utils/airflow.cfg
  bye_splits/utils/cl_helpers.py
  bye_splits/utils/params.py
  config.yaml
Owners: @bfonta, @mchiusi, @isehle

new chain: ROI + seeding
  .githooks/pre-commit
  bye_splits/data_handle/__init__.py
  bye_splits/data_handle/data_process.py
  bye_splits/plot/__init__.py
  bye_splits/plot/display/main.py
  bye_splits/plot/roi_uv_space.py
  bye_splits/scripts/run_default_chain.py
  bye_splits/scripts/run_roi_chain.py
  bye_splits/tasks/__init__.py
  bye_splits/tasks/fill.py
  bye_splits/tasks/roi.py
  bye_splits/tasks/seed.py
  bye_splits/tasks/seed_roi.py
  bye_splits/utils/common.py
  config.yaml
Owners: @bfonta, @mchiusi, @isehle

add seed x/z and y/z positions, grouping layers
  bye_splits/tasks/cluster.py
  bye_splits/tasks/roi.py
  bye_splits/tasks/seed.py
  bye_splits/tasks/seed_roi.py
  config.yaml
Owners: @isehle, @bfonta

roi cluster added
  bye_splits/scripts/run_default_chain.py
  bye_splits/scripts/run_roi_chain.py
  bye_splits/tasks/cluster.py
  bye_splits/tasks/roi.py
  bye_splits/tasks/seed.py
  bye_splits/tasks/seed_roi.py
  bye_splits/tasks/validation.py
  bye_splits/utils/common.py
  config.yaml
Owners: @bfonta, @isehle, @mchiusi

roi chain validation and plotting
  bye_splits/data_handle/data_process.py
  bye_splits/plot/roi_chain_plotter.py
  bye_splits/scripts/run_default_chain.py
  bye_splits/scripts/run_roi_chain.py
  bye_splits/tasks/__init__.py
  bye_splits/tasks/roi.py
  bye_splits/tasks/seed.py
  bye_splits/tasks/seed_roi.py
  bye_splits/tasks/validation_roi.py
  bye_splits/utils/parsing.py
  config.yaml
Owners: @mchiusi, @bfonta, @isehle

preliminary roi chain
  .githooks/pre-commit
  bye_splits/data_handle/__init__.py
  bye_splits/data_handle/data_process.py
  bye_splits/plot/__init__.py
  bye_splits/plot/display/main.py
  bye_splits/plot/roi_chain_plotter.py
  bye_splits/plot/roi_uv_space.py
  bye_splits/scripts/run_default_chain.py
  bye_splits/scripts/run_roi_chain.py
  bye_splits/tasks/__init__.py
  bye_splits/tasks/cluster.py
  bye_splits/tasks/fill.py
  bye_splits/tasks/roi.py
  bye_splits/tasks/seed.py
  bye_splits/tasks/seed_roi.py
  bye_splits/tasks/validation.py
  bye_splits/tasks/validation_roi.py
  bye_splits/utils/common.py
  bye_splits/utils/parsing.py
  config.yaml
Owners: @bfonta, @mchiusi, @isehle

Submission scripts for TC skimming
  README.md
  bye_splits/production/produce.cc
  bye_splits/production/src/skim.cc
  config.yaml
  submit_scripts/job_params.py
  submit_scripts/job_submit.py
  submit_scripts/skim_pu_multicluster.sh
Owners: @bfonta, @isehle

dR thresh between TCs and gen; YAML config for produce
  bye_splits/production/produce.cc
  bye_splits/production/src/skim.cc
Owners: @isehle

docs/CODEOWNERS:

* @bfonta

/bye_splits/data_handle/ @mchiusi
/bye_splits/plot/        @mchiusi
/bye_splits/production/  @mchiusi
/bye_splits/utils/       @mchiusi

/bye_splits/production/ @isehle
/bye_splits/tasks/ @isehle
