Repository LLRCMS/bye_splits, changes with the owners that docs/CODEOWNERS names for each.
All owners: @bfonta, @mchiusi, @isehle

docs/CODEOWNERS:

* @bfonta

/bye_splits/data_handle/ @mchiusi
/bye_splits/plot/        @mchiusi
/bye_splits/production/  @mchiusi
/bye_splits/utils/       @mchiusi

/bye_splits/production/ @isehle
/bye_splits/tasks/ @isehle

TC skimming done in (x/z, y/z) instead of (eta, phi)
  bye_splits/production/src/skim.cc
  config.yaml
Owners: @isehle, @bfonta

Define branches explictly as ROOT::VecOps::RVec types
  bye_splits/production/src/skim.cc
Owners: @isehle

Apply tc_dR select before other tc cuts, and simplify
  bye_splits/production/produce.cc
  bye_splits/production/src/skim.cc
Owners: @isehle

Catch multi-particle input path
  bye_splits/production/produce.cc
Owners: @isehle

Implemented Bruno's comments on the skim and produce scripts
  bye_splits/production/include/skim.h
  bye_splits/production/produce.cc
  bye_splits/production/src/skim.cc
Owners: @isehle

Use YAML config for submission; move submit scripts to production/; some reformatting
  README.md
  bye_splits/production/src/skim.cc
  bye_splits/production/submit_scripts/job_submit.py
  bye_splits/production/submit_scripts/skim_pu_multicluster.sh
  config.yaml
  submit_scripts/job_params.py
  submit_scripts/job_submit.py
Owners: @bfonta, @isehle

reduce complexity in layout, README updated
  bye_splits/plot/display_plotly/event_processing.py
  bye_splits/plot/display_plotly/main.py
  bye_splits/plot/display_plotly/plot_event.py
  requirements.txt
Owners: @mchiusi, @bfonta

add library option in geometry
  bye_splits/data_handle/geometry.py
  bye_splits/plot/display_plotly/event_processing.py
  bye_splits/plot/display_plotly/main.py
  bye_splits/plot/display_plotly/plot_event.py
  bye_splits/utils/params.py
Owners: @mchiusi

fix bug in find-event option
  bye_splits/plot/display_plotly/event_processing.py
  bye_splits/plot/display_plotly/main.py
Owners: @mchiusi

add pile-up photons
  app.sh
  bye_splits/data_handle/data_process.py
  bye_splits/data_handle/event.py
  bye_splits/plot/display_plotly/event_processing.py
  bye_splits/plot/display_plotly/main.py
  requirements.txt
Owners: @bfonta, @mchiusi

ROI finder version 2
  bye_splits/plot/display_plotly/event_processing.py
  bye_splits/plot/display_plotly/main.py
Owners: @mchiusi

tune parameters ROI-finder
  bye_splits/plot/display_plotly/event_processing.py
  bye_splits/plot/display_plotly/main.py
Owners: @mchiusi

fixing some bugs after rebase
  bye_splits/data_handle/event.py
  bye_splits/plot/display_plotly/event_processing.py
Owners: @mchiusi

add silicon cells
  bye_splits/data_handle/geometry.py
  bye_splits/plot/display_plotly/event_processing.py
  bye_splits/plot/display_plotly/plot_event.py
  config.yaml
Owners: @mchiusi, @bfonta

add tiles
  bye_splits/data_handle/geometry.py
  bye_splits/plot/display_plotly/event_processing.py
  bye_splits/plot/display_plotly/main.py
Owners: @mchiusi

add reco chain - clustering radius slider
  bye_splits/data_handle/data_process.py
  bye_splits/data_handle/event.py
  bye_splits/plot/display_plotly/event_processing.py
  bye_splits/plot/display_plotly/main.py
  bye_splits/plot/display_plotly/plot_event.py
  bye_splits/scripts/cluster_size/run_cluster_size.py
  bye_splits/scripts/run_default_chain.py
  bye_splits/tasks/cluster.py
  bye_splits/tasks/fill.py
  config.yaml
Owners: @mchiusi, @bfonta, @isehle

minor corrections after rebase
  bye_splits/plot/display_plotly/event_processing.py
  bye_splits/tasks/cluster.py
  bye_splits/tasks/fill.py
  bye_splits/tasks/seed.py
Owners: @mchiusi, @isehle

roi chain with hexagonal seeding, clustering and validation
  bye_splits/plot/roi_chain_plotter.py
  bye_splits/plot/roi_uv_space.py
  bye_splits/scripts/run_roi_chain.py
  bye_splits/tasks/cluster.py
  bye_splits/tasks/roi.py
  bye_splits/tasks/seed_roi.py
  bye_splits/tasks/validation_roi.py
  bye_splits/utils/common.py
  bye_splits/utils/parsing.py
  config.yaml
Owners: @mchiusi, @bfonta, @isehle

Rewrite job submission in terms of classes, remove some duplication
  bye_splits/production/submit_scripts/job_submit.py
  bye_splits/utils/common.py
  config.yaml
Owners: @isehle, @mchiusi, @bfonta

implement Isaac's comments
  bye_splits/tasks/validation_roi.py
  config.yaml
Owners: @isehle, @bfonta

address open issues
  bye_splits/data_handle/data_process.py
  bye_splits/plot/display/main.py
  bye_splits/plot/roi_chain_plotter.py
  bye_splits/scripts/run_roi_chain.py
  bye_splits/tasks/cluster.py
  bye_splits/tasks/roi.py
  bye_splits/tasks/seed.py
  bye_splits/tasks/validation.py
  bye_splits/tasks/validation_roi.py
  config.yaml
Owners: @mchiusi, @bfonta, @isehle

bugfixes
  bye_splits/scripts/run_default_chain.py
  bye_splits/tasks/validation.py
  config.yaml
Owners: @bfonta, @isehle

full ROI chain
  bye_splits/data_handle/data_process.py
  bye_splits/plot/display/main.py
  bye_splits/plot/roi_chain_plotter.py
  bye_splits/plot/roi_uv_space.py
  bye_splits/scripts/run_default_chain.py
  bye_splits/scripts/run_roi_chain.py
  bye_splits/tasks/cluster.py
  bye_splits/tasks/roi.py
  bye_splits/tasks/seed.py
  bye_splits/tasks/seed_roi.py
  bye_splits/tasks/validation.py
  bye_splits/tasks/validation_roi.py
  bye_splits/utils/common.py
  bye_splits/utils/parsing.py
  config.yaml
Owners: @mchiusi, @bfonta, @isehle

c++-to-python translation of producer
  README.md
  bye_splits/production/__init__.py
  bye_splits/production/produce.py
Owners: @bfonta, @isehle

c++-to-python translation of producer
  README.md
  bye_splits/production/__init__.py
  bye_splits/production/produce.py
Owners: @bfonta, @isehle

u/v seeding and coarse seeding chain performance evaluation
  bye_splits/data_handle/data_process.py
  bye_splits/plot/chain_plotter.py
  bye_splits/plot/roi_chain_plotter.py
  bye_splits/scripts/run_default_chain.py
  bye_splits/scripts/run_meta.py
  bye_splits/scripts/run_roi_chain.py
  bye_splits/tasks/__init__.py
  bye_splits/tasks/cluster.py
  bye_splits/tasks/fill.py
  bye_splits/tasks/roi.py
  bye_splits/tasks/seed.py
  bye_splits/tasks/seed_roi.py
  bye_splits/tasks/smooth.py
  bye_splits/tasks/validation.py
  bye_splits/tasks/validation_old.py
  bye_splits/tasks/validation_roi.py
  bye_splits/utils/common.py
  bye_splits/utils/parsing.py
  config.yaml
Owners: @mchiusi, @bfonta, @isehle

address Jun 7 comments
  bye_splits/plot/chain_plotter.py
  bye_splits/utils/common.py
Owners: @mchiusi

clarify chain modes
  bye_splits/data_handle/data_process.py
  bye_splits/data_handle/event.py
  bye_splits/plot/chain_plotter.py
  bye_splits/scripts/run_roi_chain.py
  bye_splits/tasks/validation.py
  config.yaml
Owners: @mchiusi, @bfonta, @isehle

u/v seeding and coarse seeding chain performance evaluation
  bye_splits/data_handle/data_process.py
  bye_splits/plot/chain_plotter.py
  bye_splits/plot/roi_chain_plotter.py
  bye_splits/scripts/run_default_chain.py
  bye_splits/scripts/run_meta.py
  bye_splits/scripts/run_roi_chain.py
  bye_splits/tasks/__init__.py
  bye_splits/tasks/cluster.py
  bye_splits/tasks/fill.py
  bye_splits/tasks/roi.py
  bye_splits/tasks/seed.py
  bye_splits/tasks/seed_roi.py
  bye_splits/tasks/smooth.py
  bye_splits/tasks/validation.py
  bye_splits/tasks/validation_old.py
  bye_splits/tasks/validation_roi.py
  bye_splits/utils/common.py
  bye_splits/utils/parsing.py
  config.yaml
Owners: @mchiusi, @bfonta, @isehle

address Jun 7 comments
  bye_splits/plot/chain_plotter.py
  bye_splits/utils/common.py
Owners: @mchiusi

clarify chain modes
  bye_splits/data_handle/data_process.py
  bye_splits/data_handle/event.py
  bye_splits/plot/chain_plotter.py
  bye_splits/scripts/run_roi_chain.py
  bye_splits/tasks/validation.py
  config.yaml
Owners: @mchiusi, @bfonta, @isehle

update flowchart for pyhep
  docs/tikz/flowchart.tex
Owners: @bfonta

bugfix: energy limit for si + sci geometries
  bye_splits/plot/display/main.py
Owners: @mchiusi

define layout
  bye_splits/plot/display/main.py
Owners: @mchiusi

flask example running locally
  bye_splits/plot/chain_plotter.py
  bye_splits/plot/display_bokeh/__init__.py
  bye_splits/plot/display_bokeh/app_hooks.py
  bye_splits/plot/display_bokeh/main.py
  bye_splits/plot/display_bokeh/request_handler.py
  bye_splits/plot/display_bokeh/static/css/styles.css
  bye_splits/plot/display_bokeh/static/favicon.ico
  bye_splits/plot/display_bokeh/theme.yaml
  bye_splits/plot/join/app.py
  config.yaml
Owners: @mchiusi, @bfonta

update flowchart for pyhep
  docs/tikz/flowchart.tex
Owners: @bfonta

Store processed events, add pile-up photons
  app.sh
  bye_splits/data_handle/data_process.py
  bye_splits/data_handle/event.py
  bye_splits/data_handle/geometry.py
  bye_splits/plot/display_plotly/event_processing.py
  bye_splits/plot/display_plotly/main.py
  bye_splits/plot/display_plotly/plot_event.py
  bye_splits/plot/display_plotly/processing.py
  bye_splits/scripts/cluster_size/run_cluster_size.py
  bye_splits/scripts/run_default_chain.py
  bye_splits/tasks/cluster.py
  bye_splits/tasks/fill.py
  bye_splits/tasks/seed.py
  bye_splits/utils/params.py
  config.yaml
  requirements.txt
Owners: @bfonta, @mchiusi, @isehle

Add scintillator tiles
  README.md
  bye_splits/data_handle/data_process.py
  bye_splits/data_handle/event.py
  bye_splits/data_handle/geometry.py
  bye_splits/plot/display_plotly/main.py
  bye_splits/plot/display_plotly/plot_event.py
  bye_splits/plot/display_plotly/processing.py
  bye_splits/scripts/run_default_chain.py
  bye_splits/tasks/cluster.py
  config.yaml
Owners: @bfonta, @mchiusi, @isehle

add coarse seeding
  README.md
  bye_splits/data_handle/data_process.py
  bye_splits/data_handle/event.py
  bye_splits/data_handle/geometry.py
  bye_splits/plot/chain_plotter.py
  bye_splits/plot/cs_chain_plotter.py
  bye_splits/plot/cs_uv_space.py
  bye_splits/plot/display_plotly/__init__.py
  bye_splits/plot/display_plotly/main.py
  bye_splits/plot/display_plotly/plot_event.py
  bye_splits/plot/display_plotly/processing.py
  bye_splits/production/produce.py
  bye_splits/scripts/run_default_chain.py
  bye_splits/scripts/run_meta.py
  bye_splits/scripts/run_new_chain.py
  bye_splits/scripts/run_radii_chain.py
  bye_splits/tasks/__init__.py
  bye_splits/tasks/cluster.py
  bye_splits/tasks/coarse_seeding.py
  bye_splits/tasks/fill.py
  bye_splits/tasks/seed.py
  bye_splits/tasks/seed_cs.py
  bye_splits/tasks/validation.py
  bye_splits/utils/common.py
  bye_splits/utils/parsing.py
  config.yaml
  requirements.txt
Owners: @bfonta, @mchiusi, @isehle

Store processed events, add pile-up photons
  app.sh
  bye_splits/data_handle/data_process.py
  bye_splits/data_handle/event.py
  bye_splits/data_handle/geometry.py
  bye_splits/plot/display_plotly/event_processing.py
  bye_splits/plot/display_plotly/main.py
  bye_splits/plot/display_plotly/plot_event.py
  bye_splits/plot/display_plotly/processing.py
  bye_splits/scripts/cluster_size/run_cluster_size.py
  bye_splits/scripts/run_default_chain.py
  bye_splits/tasks/cluster.py
  bye_splits/tasks/fill.py
  bye_splits/tasks/seed.py
  bye_splits/utils/params.py
  config.yaml
  requirements.txt
Owners: @bfonta, @mchiusi, @isehle
